body {
    background: #97918F;
    margin-left: 90px;
    margin-right: 60px;
}

header {
    margin-top: 70px;
}

h1 {
    color: blue;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 20px;
}

img {
    margin-bottom: 30px;
}